<!DOCTYPE html>
<html>
  <head>
<<<<<<< HEAD
    <title>Myquote</title>
=======
    <title>Demo</title>
>>>>>>> a019ae1fa54c27aea998e40f970477a33a1f55b9
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>
<<<<<<< HEAD
  
=======

>>>>>>> a019ae1fa54c27aea998e40f970477a33a1f55b9
  <body>
    
    <ul>
      <a href="/static_pages/home">Home</a>
<<<<<<< HEAD
      <a href="/quotes">Quotes</a>
      <a href="/static_pages/help">Help</a>
      <a href="/static_pages/about">About</a>
    </ul>

=======
      <a href="/users">Users</a>
      <a href="/static_pages/help">Help</a>
      <a href="/static_pages/about">About</a>
    </ul>
    
>>>>>>> a019ae1fa54c27aea998e40f970477a33a1f55b9
    <%= yield %>
  </body>
</html>
